<header>
    <h1>Eat Da Burger!</h1>
</header>

<h2>Add a burger...</h2>
<form class="create-form newBurgerForm">
    <div class="form-group">
        <label for="burg">Burger Name:</label>
        <input type="text" id="newBurger" name="name" placeholder="Enter your burger's name">
    </div>
    <button class="addBurgerButton" id="submit" type="submit">Add Burger</button>
</form>

<div class="undevouredBurgers" position="absolute">
    <h3>Undevoured Burgers</h3>
    {{#each burgers}}
    {{#unless devoured}}
    <div class="burger" position="relative">
        <img src="https://img.icons8.com/officel/80/000000/hamburger.png" height="50px" width="50px"
            id="burgerimg{{this.id}}">
        <p>{{this.burger_name}}</p>
        <button class="devourButton" data-id="{{id}}" data-devoured="{{devoured}}">
            Devour!
        </button>
    </div>
    {{/unless}}
    {{/each}}
</div>
<div class="devouredBurgers" position="absolute">
    <h3>Devoured Burgers</h3>
    {{#each burgers}}
    {{#if devoured}}
    <div class="burger" position="relative">
        <img src="https://img.icons8.com/officel/80/000000/hamburger.png" height="50px" width="50px"
            id="burgerimg{{this.id}}">
        <p>{{this.burger_name}} has been devoured</p>
    </div>
    {{/if}}
    {{/each}}
</div>